@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0%;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: 0.5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #D21617;
}

#logo {
    width: 135px;
    height: auto;
}

#banner {
    background-image: url('https://images7.alphacoders.com/133/1330752.png');
    background-position: 100% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}


form {
    border-style: solid;
    border-radius: 2%;
    border-color: #D21617;
    position: fixed;
    display: inline-block;
    top: 110px;
    left: 1390px;
    width: 400px;
    height: 500px;
}


h1 {
    padding: 10px 10px 5px 33%;
    color: white;
    background-color: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h3 {
    padding: 4px 10px 5px 5%;
    color: white;
    background-color: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

#name {
    width: 89%;
    border-radius: 5%;
    background-color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-style: solid;
    border-color: red;
    padding: 20px 17px;
    margin-left: 3px;
}

#email {
    width: 89%;
    border-radius: 5%;
    background-color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-style: solid;
    border-color: red;
    padding: 20px 17px;
    margin-left: 3px;
}

#text {
    width: 89%;
    border-radius: 5%;
    background-color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-style: solid;
    border-color: red;
    padding: 85px 17px;
    padding-top: 2%;
    margin-left: 3px;
}


button {
    width: 200px;
    height: 40px;
    background-color: #D21617;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    margin-left: 95px;
    margin-top: 30px;
}

footer {
    position: fixed;
    top: 700px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-list-2 {
    display: none;
}

@media (max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 30%;
    }

    form {
        border-style: solid;
        border-radius: 2%;
        border-color: #D21617;
        position: fixed;
        display: inline-block;
        top: 90px;
        left: 4px;
        width: 255px;
        height: 350px;
    }
    
    h1 {
        padding: 10px 10px 5px 26%;
        color: white;
        background-color: black;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }
    
    h3 {
        padding: 4px 10px 5px 5%;
        color: white;
        background-color: black;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }
    
    #name {
        width: 82%;
        border-radius: 5%;
        background-color: #fff;
        font-family: 'Kdam Thmor Pro', sans-serif;
        border-style: solid;
        border-color: red;
        padding: 8px 17px;
        margin-left: 3px;
    }
    
    #email {
        width: 82%;
        border-radius: 5%;
        background-color: #fff;
        font-family: 'Kdam Thmor Pro', sans-serif;
        border-style: solid;
        border-color: red;
        padding: 8px 17px;
        margin-left: 3px;
    }
    
    #text {
        width: 82%;
        border-radius: 5%;
        background-color: #fff;
        font-family: 'Kdam Thmor Pro', sans-serif;
        border-style: solid;
        border-color: red;
        padding: 25px 17px;
        padding-top: 2%;
        margin-left: 3px;
    }
    
    
    button {
        width: 150px;
        height: 30px;
        background-color: #D21617;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        border: none;
        outline: none;
        margin-left: 50px;
        margin-top: 12px;
    }
    
    span {
        color: #fff;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }

    footer {
        display: none;
    }

    .footer-list-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

